<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Get Log</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" (click)="gotohome()">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Get Log</li>
        </ol>
    </div>

    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button> -->
            
            <button type="button" class="btn btn-primary my-2 btn-icon-text" routerLink="/pages/deletelog">
                <i class="fa fa-file"></i> Delete Log
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->


<!-- <div class="row row-sm  mt-lg-4">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="card bg-primary custom-card card-box">
            <div class="card-body p-4">
              
            </div>
        </div>
    </div>
</div> -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin">
        <div class="card custom-card">
            <div class="card-header border-bottom-0 pb-0">
                <div class="d-flex justify-content-between">
                   
                </div>
                
            </div>
            <div class="card-body">
                {{data}}
             <div class="center" *ngIf="!showDatafound">
                    <span>NO DATA FOUND </span>
                </div>
                <!-- <pagination-controls class="pagination mt-4 mb-0 float-right page-item" (pageChange)="page = $event">
                </pagination-controls> -->
            </div>
        </div>
    </div><!-- COL END -->
</div>