<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">change password</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;"(click)="gotohome()">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">change password</li>
        </ol>
    </div>
    <!-- <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 ml-2">
                Import<i class="fe fe-download ml-2"></i>
             </button>
             <button type="button" class="btn btn-white btn-icon-text my-2 ml-2">
               Filter<i class="fe fe-filter ml-2"></i> 
             </button>
             <button type="button" class="btn btn-primary my-2 btn-icon-text">
                Download Report<i class="fe fe-download-cloud ml-2"></i>
             </button>
        </div>
    </div> -->
</div>
<div class="card card-aside custom-card">
    <div class="card-body">
            <form action="#"[formGroup]="changepass" (ngSubmit)="changepassword()"method="post" data-parsley-validate="" novalidate="">
        <div class="row clearfix">                              
            <div class="col-lg-12 col-md-12">
                <hr>
                <label>Change Password</label>
                <div class="form-group">
                    <input type="password" name="old_password" class="form-control" formControlName="oldPass"placeholder="Current Password" required="required">
                    <div *ngIf="(loginFormControl.oldPass.touched || submitted) && (loginFormControl.oldPass.errors?.required)"
                    class="tx-danger">
                    <small>Enter Current Password</small>
                </div>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password" id="new_password"formControlName="newPass" class="form-control" placeholder="New Password" required="required">
               
                    <div *ngIf="(loginFormControl.newPass.touched || submitted) && (loginFormControl.newPass.errors?.required)"
                    class="tx-danger">
                    <small>Enter New Password</small>
                </div> </div>
                <div class="form-group">
                    <input type="password" name="confirm_new_password"  class="form-control"formControlName="confirmPass" placeholder="Confirm New Password" required="required" data-parsley-equalto="#new_password">
                    <div *ngIf="(loginFormControl.confirmPass.touched || submitted) && (loginFormControl.confirmPass.errors?.required)"
                    class="tx-danger">
                    <small>Enter Confirm Password</small>
                </div>
                </div>
            </div>
        </div>
        <button type="submit" name="change_password" class="btn btn-round btn-primary"[disabled]="!changepass.valid">Update</button> &nbsp;&nbsp;
        <button type="reset" class="btn btn-round btn-default">Clear</button>
    </form>
</div>
</div>