
.user-lock .dropdown-menu{
    transform: translate(0px, 21px) !important;
}


@media (max-width: 447px){
    .btn-profile {
    bottom: 429px;
    }
}

    @media (max-width: 767px){
    .profile-footer {
        display: block !important;
    }
}
@media screen and (min-width: 1023px){
.css-1lvbox2 {
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
}
@media screen and (min-width: 767px){
.css-1lvbox2 {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: flex-start;
    flex-direction: column;
}
}
.css-1lvbox2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    border-width: 0px 0px 1px;
    // border-style: solid;
    // border-color: rgb(234, 236, 239);
    align-items: flex-start;
    flex-direction: column;
}
@media screen and (min-width: 1023px){
.css-1px8uci {
    flex: 7 1 0%;
}
}
@media screen and (min-width: 767px){
.css-1px8uci {
    flex: 1 1 0%;
}
}
.css-1px8uci {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
}
.css-10c5sb {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    width: 24px;
}
.css-1pysja1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
}
@media screen and (min-width: 1023px){
.css-1ds054f {
    margin-top: 0px;
    width: auto;
}
}
@media screen and (min-width: 767px){
.css-1ds054f {
    margin-top: 16px;
    width: 100%;
}
}
.css-1ds054f {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    flex: 5 1 0%;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 40px;
    width: 100%;
}
.css-kgrsce {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 3 1 0%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.css-vurnku {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}
.css-1ds83c4 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.css-2htv2l {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(30, 35, 41);
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 24px;
    border: none;
    background-color: rgb(234, 236, 239);
    min-width: 80px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.button[disabled] {
    cursor: not-allowed;
  }
  