<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">UserActive</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;"(click)="gotohome()">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">UserActive</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 ml-2">
                Import<i class="fe fe-download ml-2"></i>
             </button>
             <button type="button" class="btn btn-white btn-icon-text my-2 ml-2">
               Filter<i class="fe fe-filter ml-2"></i> 
             </button>
             <button type="button" class="btn btn-primary my-2 btn-icon-text">
                Download Report<i class="fe fe-download-cloud ml-2"></i>
             </button> -->
        </div>
    </div>
</div><div class="card card-aside custom-card">
    <div class="card-body">
<div class="d-flex">
        <div class="row1">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- <label>Date</label> -->
                <!-- <div class="input-group">
                    <input type="text" data-provide="datepicker" id="filter_start_date" name="filter_start_date"
                        data-date-autoclose="true" class="form-control" autocomplete="off" placeholder="Date"
                        required="required">
                </div> -->
                <div class="form-group text-left">
                    <label>Name</label>
                    <input class="form-control" 
                        type="text">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <label>Company</label>
                <div class="form-group">
                    <select class="custom-select" name="filter_company" id="filter_company">
                        <option value="">-- Company --</option>
                        <option value="10">Dev Test</option>
                    </select>
                </div>
            </div> -->

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Email</label>
                    <select class="custom-select" name="main_dept" id="main_dept">
                    </select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Status</label>
                    <select class="custom-select" name="filter_status" id="filter_status">
                        <option value="">--Status--</option>
                        <option value="1">Pending</option>
                        <option value="2">Approved</option>
                        <option value="3">Rejected</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <label>&nbsp;</label>
                <button type="button" id="attendance_search" class="btn btn-sm btn-primary btn-block"
                    title="">Get</button>
            </div>
        </div>
</div>
</div>
</div>

<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <!-- <h6 class="main-content-label mb-1">Ngx DataTable</h6>
                    <p class="text-muted card-sub-title">Ngx-DataTable using bootstrap theme DataTables.</p> -->
                </div>

                <ngx-datatable 
                    class="bootstrap"
                    [rows]="simpleData"
                    [rowHeight]="50"
                    columnMode="force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarV]="true"
                    [scrollbarH]="false"
                    [summaryRow]="true"
                    [summaryPosition]="'bottom'"
                    >
                    <ngx-datatable-column name="Name" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Position" [width]="300"></ngx-datatable-column>
                    <ngx-datatable-column name="Office" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Age" [width]="100"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>