<!-- <div>
    <button class="btn ripple btn-main-primary" style="float: right;" (click)="closeModelBox()">

        <i class="fa fa-close"></i>

    </button>
</div> -->
<div class="modal-header">
    <label style="color: white;">View Withdraw</label>

</div>

                
<div class="modal-body">
                    <table class="table  text-nowrap text-md-nowrap table-striped mg-b-0">
                       
                        <tbody >
                          
                            <tr >
                                <td>
                                    No
                                </td>
                                <td>
                                    {{no == "" ? 'NA': no}}
                                </td>
                            </tr> <tr >
                                <td>
                                    Content
                                </td>
                                <td>
                                    {{content == "" ? 'NA': content}}
                                </td>
                            </tr>
                            <tr >
                                <td>
                                    Image
                                </td>
                                <td>
                                    {{image == " " ? 'NA': image}}
                                </td>
                            </tr>
                            <tr >
                                <td>
                                    Type
                                </td>
                                <td>
                                    {{type == "" ? 'NA': type}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    status
                                </td>
                                <td>
                                    <span *ngIf="status === true"
                                                [class]="status === true ? 'text-success':''">
                                                {{status === true ? 'Active':status}}</span>
                                                <span *ngIf="status === false"
                                                [class]="status === false ? 'text-danger' : ''">
                                                {{status === false ? 'Inactive':status}}</span>
                                </td>
                            </tr>
                         
                        </tbody>
                    </table>
                    
                </div>

<div class="modal-footer">
    <!-- <button class="btn ripple btn-primary" type="button" (click)="successAlert()">Save changes</button> -->
    <button type="button" class="btn ripple btn-secondary" (click)="closeModelBox()">Close</button>
</div>

