<!-- <div>
    <button class="btn ripple btn-main-primary" style="float: right;" (click)="closeModelBox()">

        <i class="fa fa-close"></i>

    </button>
</div> -->
<div class="modal-header">
    <label>Announcement Edit</label>

</div>
<!-- <div class="modal-body">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="body">
                    <table class="table table-hover table-striped mb-0">
                        <tbody>
                            <tr>
                                <td><strong>Employee</strong></td>
                                <td>Kabilan</td>
                            </tr>
                            <tr>
                                <td><strong>Company</strong></td>
                                <td>Dev Test</td>
                            </tr>
                            <tr>
                                <td><strong>Leave Type</strong></td>
                                <td>Annual</td>
                            </tr>
                            <tr>
                                <td><strong>Start Date</strong></td>
                                <td>May, 02 2021</td>
                            </tr>
                            <tr>
                                <td><strong>End Date</strong></td>
                                <td>May, 02 2021</td>
                            </tr>
                            <tr>
                                <td><strong>Total Days</strong></td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td><strong>Leave Reason</strong></td>
                                <td>fever</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="body">
                <div class="form-group">
                    <label>Status</label>
                    <select class="custom-select" name="status" id="status">
                        <option value="1">Pending</option>
                        <option selected="" value="2">Approved</option>
                        <option value="3">Rejected</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Paid Status</label>
                    <select class="custom-select" name="paid_status" id="paid_status">
                        <option selected="" value="1">Paid</option>
                        <option value="0">Unpaid</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea class="form-control" name="remarks" cols="15" rows="7" placeholder="Remarks">ok</textarea>
                </div>
            </div>
        </div>


        <input type="hidden" name="id" value="26">
    </div>
</div> -->

<div class="card-body">
    
  



       
    
</div>

<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <!-- <div>
                    <h6 class="main-content-label mb-1">Input Sizes</h6>
                    <p class="text-muted card-sub-title">A form control sizes in large,small Fields.</p>
                </div> -->
                <label>Title</label>

                <div class="form-group">
                    <input type="text" class="form-control input-lg" value=" Login attempted from new IP " name="example-text-input"
                        placeholder="">
                </div>
                <label>Description</label>

                <div class="form-group">
                    <textarea type="text" class="form-control"value="The system has detected that your account is logged in from an unused IP addres" name="example-text-input"  placeholder="Default Input">
                        </textarea>
                </div>
                <label>Date</label>

                <div class="form-group">
                    <input type="date"class="form-control input-lg" name="example-text-input"
                        placeholder="">
                </div>
               
                <div class="col-sm-3 col-md-3 col-lg-3" style="float: right;">
                    <label>&nbsp;</label>
                    <button type="submit" style="height: 34px; float:right;"  class="btn btn-sm btn-primary btn-block "(click)="closeModelBox()">Close</button>

                    <!-- <button type="button" class="btn ripple btn-secondary" (click)="closeModelBox()">Close</button> -->
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3" style="float: right;">
                    <label>&nbsp;</label>
                    <button type="submit" style="height: 34px; float:right;"  class="btn btn-sm btn-primary btn-block ">Save</button>
                </div>
            </div>
           
        </div>
    </div>
</div>