
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Add user</h2>
        <ol class="breadcrumb">
            <li  class ="breadcrumb-item cus"(click)="user()">UserList</li>
            

        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button> -->
        </div>
    </div>
</div>

<div class="card card-aside custom-card">
    <div class="container-fluid">
        <div class="row row-sm">
            <div class="card-body mt-2 mb-2">
                <form>
                    <div class="form-group text-left">
                        <label>Name</label>
                        <input class="form-control" placeholder="Enter your Name" type="text">
                    </div>
                    <div class="form-group text-left">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter your email" type="text">
                    </div>
                    <div class="custom-form">
                        <label class="Custom-label ">Phone No</label>
                        <input type="text" class="form-control Custom-input" formControlName="phoneno" placeholder="Enter Phone No">
        </div>
        <!-- <div class="custom-form">
            <label class="Custom-label "> DOB</label>
            <input type="text-area" class="form-control Custom-input" formControlName="phoneno" placeholder="Enter Phone No">
</div> -->


                </form>
                <!-- <div class="form-group">
                    <button type="submit" class="btn ripple btn-main-primary">Submit</button>
                </div> -->
            </div>

        </div>
    </div>
</div>
