<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Email</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;"(click)="gotohome()">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Email</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 ml-2">
                Import<i class="fe fe-download ml-2"></i>
             </button>
             <button type="button" class="btn btn-white btn-icon-text my-2 ml-2">
               Filter<i class="fe fe-filter ml-2"></i> 
             </button>
             <button type="button" class="btn btn-primary my-2 btn-icon-text">
                Download Report<i class="fe fe-download-cloud ml-2"></i>
             </button>
        </div>
    </div>
</div>
<div class="card custom-card">
    <div class="card-body"> 
           <form action="" method="post" id="formSmtpSettings" enctype="multipart/form-data">
                                    
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>SMTP Protocol</label>
                    <input class="form-control" type="text" id="smtp_protocol" value="smtp" name="smtp_protocol">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>SMTP Host</label>
                    <input class="form-control" type="text" id="smtp_host" value="smtp.gmail.com" name="smtp_host">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>SMTP Port</label>
                    <input class="form-control" type="text" id="smtp_port" value="465" name="smtp_port">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>SMTP Username</label>
                    <input class="form-control" type="email" id="smtp_username" value="futuretrendtesting@gmail.com" name="smtp_username">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>SMTP Password</label>
                    <input class="form-control" type="text" id="smtp_password" value="Greetings@22" name="smtp_password">
                </div>
            </div>
                                                <div class="col-sm-6 text">
                <div class="form-group">
                    <label>SMTP Secure</label>
                    <input class="form-control" type="text" id="smtp_secure" value="tls" name="smtp_secure">
                </div>
            </div>
            <div class="col-sm-6 text">
                <div class="form-group">
                    <label>SMTP Set From</label>
                    <input class="form-control" type="text" id="smtp_from" value="futuretrendtesting@gmail.com" name="smtp_from">
                </div>
            </div>
            <div class="col-sm-6 text">
                <div class="form-group">
                    <label>SMTP Set From Name</label>
                    <input class="form-control" type="text" id="smtp_from_name" value="OBO-AM TEAM" name="smtp_from_name">
                </div>
            </div>
            <!-- <div class="col-sm-12 text">
                <small id="fileHelp" class="text-danger"> Note: First you should enable "Less secure app access" in your Google account.</small>
            </div>
            <div class="col-sm-12 text">
                <small id="fileHelp" class="text-danger">If it's not enable your mail integration services cannot be functioned.</small>
            </div> -->
                                                <div class="col-sm-12 m-t-20 text-right">
                <button type="submit" class="btn btn-primary">Update SMTP Settings</button>
            </div>
        </div>                            
    </form>
</div>
</div>

