::ng-deep {
    .btn-outline-primary {
        color: #6259ca !important;
        border-color: #6259ca !important;
    }
}
.pagebanner_content {
    position: absolute;
    top: 35%;
    left: 25px;
    color: #fff;
}