<!-- Page Header -->
 <div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Withdraw</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wallet</li>
        </ol>
    </div>
    <!-- <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
              <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div> -->
</div> 
<!-- End Page Header -->

<!-- row -->
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <!-- <img src="../../assets/img/media/Bitconia white (1).png"> -->
                <div class="pagebanner_content">
                    <h1 class="page-title"><p><strong>How to Withdraw</strong></p></h1>
                    <h2 class="pagebanner_subheading">
                        <!-- <p></p><p>If you have won - Congratulations!</p><p></p> -->
                   </h2>
               </div>
            </div>
        </div>
    </div>
  </div>


  <div class="card custom-card card-dashboard-calendar pb-0">
    <label class="main-content-label mb-2 pt-1">Recent transcations</label>
    <span class="d-block tx-12 mb-2 text-muted">Projects where development work is on completion</span>
    <table class="table table-hover m-b-0 transcations mt-2">
        <tbody>
            <tr>
                <td class="wd-5p">
                    <div class="main-img-user avatar-md ml-3">
                        <!-- <img alt="avatar" class="rounded-circle ml-3" src="../../assets/img/users/5.jpg"> -->
                    </div>
                </td>
                <td>
                    <div class="d-flex align-middle mr-3">
                        <div class="d-inline-block">
                            <h6 class="mb-1">Flicker</h6>
                            <p class="mb-0 tx-13 text-muted">App improvement</p>
                        </div>
                    </div>
                </td>
                <td class="text-left">
                    <div class="d-inline-block">
                        <h6 class="mb-2 tx-15 font-weight-semibold">$45.234<i
                                class="fas fa-level-up-alt mr-2 text-success m-r-10"></i></h6>
                        <p class="mb-0 tx-11 text-muted">12 Jan 2020</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="wd-5p">
                    <div class="main-img-user avatar-md">
                        <!-- <img alt="avatar" class="rounded-circle ml-3" src="../../assets/img/users/6.jpg"> -->
                    </div>
                </td>
                <td>
                    <div class="d-flex align-middle mr-3">
                        <div class="d-inline-block">
                            <h6 class="mb-1">Intoxica</h6>
                            <p class="mb-0 tx-13 text-muted">Milestone</p>
                        </div>
                    </div>
                </td>
                <td class="text-left">
                    <div class="d-inline-block">
                        <h6 class="mb-2 tx-15 font-weight-semibold">$23.452<i
                                class="fas fa-level-down-alt mr-2 text-danger m-r-10"></i></h6>
                        <p class="mb-0 tx-11 text-muted">23 Jan 2020</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="wd-5p">
                    <div class="main-img-user avatar-md">
                        <!-- <img alt="avatar" class="rounded-circle ml-3" src="../../assets/img/users/7.jpg"> -->
                    </div>
                </td>
                <td>
                    <div class="d-flex align-middle mr-3">
                        <div class="d-inline-block">
                            <h6 class="mb-1">Digiwatt</h6>
                            <p class="mb-0 tx-13 text-muted">Sales executive</p>
                        </div>
                    </div>
                </td>
                <td class="text-left">
                    <div class="d-inline-block">
                        <h6 class="mb-2 tx-15 font-weight-semibold">$78.001<i
                                class="fas fa-level-down-alt mr-2 text-danger m-r-10"></i></h6>
                        <p class="mb-0 tx-11 text-muted">4 Apr 2020</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="wd-5p">
                    <div class="main-img-user avatar-md">
                        <!-- <img alt="avatar" class="rounded-circle ml-3" src="../../assets/img/users/8.jpg"> -->
                    </div>
                </td>
                <td>
                    <div class="d-flex align-middle mr-3">
                        <div class="d-inline-block">
                            <h6 class="mb-1">Flicker</h6>
                            <p class="mb-0 tx-13 text-muted">Milestone2</p>
                        </div>
                    </div>
                </td>
                <td class="text-left">
                    <div class="d-inline-block">
                        <h6 class="mb-2 tx-15 font-weight-semibold">$37.285<i
                                class="fas fa-level-up-alt mr-2 text-success m-r-10"></i></h6>
                        <p class="mb-0 tx-11 text-muted">4 Apr 2020</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="wd-5p pb-0">
                    <div class="main-img-user avatar-md">
                        <!-- <img alt="avatar" class="rounded-circle ml-3" src="../../assets/img/users/4.jpg"> -->
                    </div>
                </td>
                <td class="pb-0">
                    <div class="d-flex align-middle mr-3">
                        <div class="d-inline-block">
                            <h6 class="mb-1">Flicker</h6>
                            <p class="mb-0 tx-13 text-muted">App improvement</p>
                        </div>
                    </div>
                </td>
                <td class="text-left pb-0">
                    <div class="d-inline-block">
                        <h6 class="mb-2 tx-15 font-weight-semibold">$25.341<i
                                class="fas fa-level-down-alt mr-2 text-danger m-r-10"></i></h6>
                        <p class="mb-0 tx-11 text-muted">4 Apr 2020</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Row End -->