<div class="page-header">
    <div>
       <h2 class="main-content-title tx-24 mg-b-5">Draw Order</h2>
       <ol class="breadcrumb">
           <!-- <li class="breadcrumb-item"><a href="javascript:;"(click)="gotohome()">Home</a></li> -->
           <li class="breadcrumb-item active" aria-current="page">Draw Order</li>
       </ol>
   </div>
</div>

<div class="card card-aside custom-card">
    <div class="card-body">

<div class="body">
    <h6>Add New Education Level</h6>
    <form action="" id="form_education" method="post" data-parsley-validate="" novalidate="">
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">  
                    <label>Education Level</label>    
                    <input type="text" class="form-control" id="edu_level" name="edu_level" placeholder="Education Level" required="required">
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Company</label>
                    <select class="custom-select" name="qua_edu_id" id="qua_edu_id" required="required">
                        <option value="">-- Company --</option>
                        <option value="2">Future Trend LLC</option><option value="10">Dev Test</option><option value="11">FT</option><option value="14">John</option><option value="28">FutureTrend</option><option value="29">Futuretrendest</option>                                                                            </select>
                </div>
            </div> 
            <!--<input type="hidden" value="1" id="qua_edu_id" name="qua_edu_id"> -->                                       
            <div class="col-12">
                <button type="button" id="qua_edu_level" name="emp_submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>