::ng-deep {
    .btn-outline-primary {
        color: #6259ca !important;
        border-color: #6259ca !important;
    }
}
.text-warning {
    color: #ff9b21 !important;
}
.text-success {
    color: #19b159 !important;
}