.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .conv-title {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 25px;
  }
  .blubtn {
    background: #2196f3;
    color: white;
  }
  .btngray {
    background-color: gray;
    color: #fff;
  }
  .brdrline {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
  .graylabel {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    color: gray;
  }
  input[type="number"] {
    position: relative;
    margin: 0px 0 0rem;
    border: 0.5px solid #bbb;
    padding: 0.2rem;
  }
  ::ng-deep {
    dp-date-picker,
    dp-date-picker.dp-material .dp-picker-input {
        width: 100% !important;
        height: 38px !important;
    }
    dp-date-picker.dp-material .dp-picker-input {
        font-weight: 400;
        line-height: 1.5;
        color: #a8afc7;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #e8e8f7;
        border-radius: 5px;
    }

    dp-day-calendar.dp-material .dp-current-day {
        border: 1px solid #6259ca !important;
        background: #6259ca !important;
        color: #fff;
    }
    dp-calendar-nav.dp-material .dp-calendar-nav-container {
        border: 1px solid #e8e8f7 !important;
        height: 40px !important;
    }
    dp-calendar-nav.dp-material .dp-nav-header-btn {
        font-weight: bold;
        color: #3b4863;
    }
    dp-day-calendar.dp-material .dp-calendar-wrapper {
        border: 1px solid #e8e8f7 !important;
        padding: 10px;
    }
    dp-day-calendar.dp-material .dp-calendar-weekday {
        color: #3b4863 !important;
        width: 33px !important;
    }

    dp-day-calendar .dp-calendar-day {
        width: 33px !important;
    }
    dp-calendar-nav .dp-nav-btns-container {
        padding: 15px;
    }
    dp-calendar-nav .dp-calendar-nav-container-left,
    dp-calendar-nav .dp-calendar-nav-container-right {
        padding: 5px;
    }

    .modal.fade .modal-dialog{
        transform: translate(0, 30px) !important;
    }
}
.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  background-color: black;
}
// .mat-dialog-container {
//   box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
//   background:#18182A !important;
//   color: rgba(0, 0, 0, 0.87);
// }

