<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Add Draw</h2>
        <ol class="breadcrumb">
            <li  class ="breadcrumb-item cus"(click)=" gotodraw()">Draw Wallet</li>
            <li class="breadcrumb-item active" aria-current="page">Add Draw</li>


        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button> -->
        </div>
    </div>
</div>
<div class="card custom-card">
 <div class="card-body">
    <div class="container-fluid">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>  
                  <div class="row">
            <div class="col-md-6 col-sm-12">
                    <label>Name <span
                            class="text-danger">*</span></label>
                            <div class="form-group">
                                <input type="text" formControlName="username" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && loginFormControl.username.errors }" />
                                <div *ngIf="submitted && loginFormControl.username.errors" class="invalid-feedback">
                                    <div *ngIf="loginFormControl.username.errors.required">First Name is required</div>
                                </div>
                            </div>
            </div>
            <div class="col-md-6 col-sm-12">
                
        <label>Winning Price
            <span class="tx-danger">*</span>
        </label>
        <div class="form-group">
        <input type="text" formControlName="winningprice" class="form-control" value={{winningprice}}
            [(ngModel)]="winningprice"
            [ngClass]="{ 'is-invalid': submitted && loginFormControl.winningprice.errors }" />
        <div *ngIf="submitted && loginFormControl.winningprice.errors" class="invalid-feedback">
            <div *ngIf="loginFormControl.winningprice.errors.required">winningprice is required</div>
            <div *ngIf="loginFormControl.winningprice.errors.minlength">winningprice must be Entered</div>
        </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-12">
               
                    <label>Start Time
                        <span class="tx-danger">*</span>
                    </label>
                    <div class="form-group">
                    <input type="text" formControlName="StartTime" class="form-control" value={{StartTime}} [(ngModel)]="StartTime"
                        [ngClass]="{ 'is-invalid': submitted && loginFormControl.StartTime.errors }" />
                    <div *ngIf="submitted && loginFormControl.StartTime.errors" class="invalid-feedback">
                        <div *ngIf="loginFormControl.StartTime.errors.required">StartTime is required</div>
                        <div *ngIf="loginFormControl.StartTime.errors.minlength">StartTime must be Entered</div>
                    </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>End time
                    <span class="tx-danger">*</span>
                </label>
                <div class="form-group">

                <input type="text" formControlName="EndTime" class="form-control" value={{EndTime}} [(ngModel)]="EndTime"
                    [ngClass]="{ 'is-invalid': submitted && loginFormControl.EndTime.errors }" />
                <div *ngIf="submitted && loginFormControl.EndTime.errors" class="invalid-feedback">
                    <div *ngIf="loginFormControl.EndTime.errors.required">EndTime is required</div>
                    <div *ngIf="loginFormControl.EndTime.errors.minlength">EndTime must be Entered</div>
                </div>
            </div>
            </div>
            
        </div>
        
        <div class="row1">
            <div class="col-sm-12 text-right m-t-20">
                <button type="submit" id="system_submit"
                    class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div> 
</div>
</div>
<!-- <div class="card-body mt-2 mb-2">
    <form>
        <div class="form-group text-left">
            <label>Name</label>
            <input class="form-control" placeholder="Enter your Name" type="text">
        </div>
        <div class="form-group text-left">
            <label>Email</label>
            <input class="form-control" placeholder="Enter your email" type="text">
        </div>
        <div class="custom-form">
            <label class="Custom-label ">Phone No</label>
            <input type="text" class="form-control Custom-input" formControlName="phoneno" placeholder="Enter Phone No">
</div>


    </form>
    
</div> -->