<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5"> Upcoming Draw</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" (click)="gotohome()">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upcoming Draw</li>
        </ol>
    </div>

    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button> -->
            <button type="button" class="btn btn-primary my-2 btn-icon-text" routerLink="/drawwallet/adddraw">
                <i class="fas fa-plus"></i> Add Draw
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<div class="row row-sm  mt-lg-4">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="card bg-primary custom-card card-box">
            <div class="card-body p-4">
                <!-- <label>User Name</label>
                <input type="text"  [(ngModel)]="username" (ngModelChange)="searchdraw()"class="form-control" placeholder="Enter the User Name" /> -->
                <div class="row align-items-center">
                    <form [formGroup]="loginForm" (ngSubmit)="search()" novalidate>

                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">

                                <div class="form-group text-left">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" formControlName="username"
                                        [(ngModel)]="username" class="form-control"
                                        [ngClass]="{ 'valid': submitted  }" />

                                </div>
                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <label>Status
                                    <!-- <span class="tx-danger">*</span> -->
                                </label>
                                <div class="form-group text-left">
                                    <!-- <input type="password" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginFormControl.gender.errors }" />
                                    <div *ngIf="submitted && loginFormControl.gender.errors" class="invalid-feedback">
                                        <div *ngIf="loginFormControl.gender.errors.required">Zip code is required</div>
                                        <div *ngIf="loginFormControl.gender.errors.minlength">Zip code must be at least 6 characters</div>
                                    </div> -->
                                    <select class="select" formControlName="value" class="form-control" [(ngModel)]="value" >
                                        <label>Status</label>
                                        <option  value="1">Active</option>
                                        <option value="0">Pending</option>
                                        <!-- <option value="2">Cancel</option> -->
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-sm btn-primary btn-block">Get</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-sm">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin">
        <div class="card custom-card">
            <div class="card-header border-bottom-0 pb-0">
                <div class="d-flex justify-content-between">
                    <!-- <label class="main-content-label mb-0 pt-1">User Table</label> -->
                    <!-- <div class="ml-auto float-right">
                        <div ngbDropdown class="">
                            <a href="javascript:;" class="option-dots" ngbDropdownToggle><i
                                    class="fe fe-more-horizontal"></i></a>
                            <div ngbDropdownMenu class="dropdown-menu-right">
                                <a ngbDropdownItem href="javascript:;">Today</a>
                                <a ngbDropdownItem href="javascript:;">Last Week</a>
                                <a ngbDropdownItem href="javascript:;">Last Month</a>
                                <a ngbDropdownItem href="javascript:;">Last Year</a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <p class="tx-12 tx-gray-500 mt-0 mb-2">Example of Spruha Simple Table. <a href="javascript:;">Learn
                        more</a></p> -->
            </div>
            <div class="card-body">
                <div class="table-responsive border userlist-table" *ngIf="showDatafound">
                    <table class="table card-table table-striped table-vcenter text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th class="wd-lg-8p"><span>Name</span></th>
                                <!-- <th class="wd-lg-20p"><span></span></th> -->
                                <th class="wd-lg-20p"><span>Winning Price</span></th>
                                <th class="wd-lg-20p"><span>Status</span></th>
                                <th class="wd-lg-20p"><span>Start time</span></th>
                                <th class="wd-lg-20p">End time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data |  paginate:{
                                itemsPerPage: 10,
                                 currentPage:page,
                                totalitem:totalLength }">
                                <!-- <tr *ngFor="let item of data "> -->
                                <!-- <td>
                                    <img alt="avatar" class="rounded-circle avatar-md mr-2"
                                        src="../../assets/img/users/1.jpg">
                                </td> -->
                                <td>{{item['name'] == "" ? 'NA': item['name']}} </td>
                                <td>
                                    {{item['winning_price']}}
                                </td>
                        
                                <td >
                                <span *ngIf="item['deleted'] === false"
                                [class]="item['deleted'] === false ? 'text-warning' : item['deleted']=== true ? 'text-success':''">
                                {{item['deleted'] === false ? 'Pending':item['deleted']}}</span>
                                <span *ngIf="item['deleted'] === true"
                                [class]="item['deleted'] === false ? 'text-warning' : item['deleted']=== true ? 'text-success':''">
                                {{item['deleted'] === true ? 'Active':item['deleted']}}</span>
                            </td>
                        
                                <td>
                                    {{item['start_time'] | date :'medium'}}
                                </td>
                                <td>
                                    {{item['end_time']| date :'medium'}}
                                </td>
                                <td>
                                    <button (click)="gotoview()" class="btn btn-sm btn-primary mr-1">
                                        <i class="si si-eye"></i>
                                    </button>
                                    <button (click)="editsymbol(item)" class="btn btn-sm btn-info mr-1">
                                        <i class="fe fe-edit-2"></i>
                                    </button>
                                    <button (click)="deleteuser(item)" class="btn btn-sm btn-danger">
                                        <i class="fe fe-trash"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="center" *ngIf="!showDatafound">
                    <span>NO DATA FOUND </span>
                </div>
                <pagination-controls class="pagination mt-4 mb-0 float-right page-item" (pageChange)="page = $event">
                </pagination-controls>
            </div>
        </div>
    </div><!-- COL END -->
</div>