<div class="page-header">
<div>
    <h2 class="main-content-title tx-24 mg-b-5 ">Setting</h2>

</div>
</div>
<div class="row square">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <!-- <div class="panel profile-cover">
                    <div class="profile-cover__img">
                        <img src="../../assets/img/users/1.jpg" alt="img">
                        <h3 class="h3">Sonia Taylor</h3>
                    </div>
                    <div class="btn-profile">
                        <button class="btn btn-rounded btn-danger">
                            <i class="fa fa-plus ml-1"></i>
                            <span>Follow</span>
                        </button>
                        <button class="btn btn-rounded btn-success mr-2">
                            <i class="fa fa-comment ml-1"></i>
                            <span>Message</span>
                        </button>
                    </div>
                    <div class="profile-cover__action bg-img"></div>
                    <div class="profile-cover__info">
                        <ul class="nav">
                            <li><strong>26</strong>Projects</li>
                            <li><strong>33</strong>Followers</li>
                            <li><strong>136</strong>Following</li>
                        </ul>
                    </div>
                </div> -->
                <div class="profile-tab tab-menu-heading">
                    <nav ngbNav #nav="ngbNav" class="main-nav-line p-3 tabs-menu profile-nav-line bg-gray-100">
                        <!-- <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>About</a>
                            <ng-template ngbNavContent>
                                <div class="main-content-body tab-pane p-4 border-top-0 active" id="about">
                                    <div class="card-body p-0 border p-0 rounded-10">
                                        <div class="p-4">
                                            <h4 class="tx-15 text-uppercase mb-3">BIOdata</h4>
                                            <p class="m-b-5">Hi I'm Petey Cruiser,has been the industry's standard dummy
                                                text ever since the 1500s, when an unknown printer took a galley of
                                                type. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                                arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                                                Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras
                                                dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                                                tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                                                enim.</p>
                                            <div class="m-t-30">
                                                <h4 class="tx-15 text-uppercase mt-3">Experience</h4>
                                                <div class=" p-t-10">
                                                    <h5 class="text-primary m-b-5 tx-14">Lead designer / Developer</h5>
                                                    <p class="">websitename.com</p>
                                                    <p><b>2010-2015</b></p>
                                                    <p class="text-muted tx-13 m-b-0">Lorem Ipsum is simply dummy text
                                                        of the printing and typesetting industry. Lorem Ipsum has been
                                                        the industry's standard dummy text ever since the 1500s, when an
                                                        unknown printer took a galley of type and scrambled it to make a
                                                        type specimen book.</p>
                                                </div>

                                                <div class="">
                                                    <h5 class="text-primary m-b-5 tx-14">Senior Graphic Designer</h5>
                                                    <p class="">coderthemes.com</p>
                                                    <p><b>2007-2009</b></p>
                                                    <p class="text-muted tx-13 mb-0">Lorem Ipsum is simply dummy text of
                                                        the printing and typesetting industry. Lorem Ipsum has been the
                                                        industry's standard dummy text ever since the 1500s, when an
                                                        unknown printer took a galley of type and scrambled it to make a
                                                        type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-top"></div>
                                        <div class="p-4">
                                            <label class="main-content-label tx-13 mg-b-20">Contact</label>
                                            <div class="d-sm-flex">
                                                <div class="mg-sm-r-20 mg-b-10">
                                                    <div class="main-profile-contact-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-primary-transparent text-primary">
                                                                <i class="icon ion-md-phone-portrait"></i>
                                                            </div>
                                                            <div class="media-body"> <span>Mobile</span>
                                                                <div> +245 354 654 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mg-sm-r-20 mg-b-10">
                                                    <div class="main-profile-contact-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-success-transparent text-success">
                                                                <i class="icon ion-logo-slack"></i>
                                                            </div>
                                                            <div class="media-body"> <span>Slack</span>
                                                                <div> @spruko.w </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="main-profile-contact-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-info-transparent text-info"> <i
                                                                    class="icon ion-md-locate"></i> </div>
                                                            <div class="media-body"> <span>Current Address</span>
                                                                <div> San Francisco, CA </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-top"></div>
                                        <div class="p-4">
                                            <label class="main-content-label tx-13 mg-b-20">Social</label>
                                            <div class="d-md-flex">
                                                <div class="mg-md-r-20 mg-b-10">
                                                    <div class="main-profile-social-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-primary-transparent text-primary">
                                                                <i class="icon ion-logo-github"></i>
                                                            </div>
                                                            <div class="media-body"> <span>Github</span> <a
                                                                    href="javascript:;">github.com/spruko</a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mg-md-r-20 mg-b-10">
                                                    <div class="main-profile-social-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-success-transparent text-success">
                                                                <i class="icon ion-logo-twitter"></i>
                                                            </div>
                                                            <div class="media-body"> <span>Twitter</span> <a
                                                                    href="javascript:;">twitter.com/spruko.me</a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mg-md-r-20 mg-b-10">
                                                    <div class="main-profile-social-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-info-transparent text-info"> <i
                                                                    class="icon ion-logo-linkedin"></i> </div>
                                                            <div class="media-body"> <span>Linkedin</span> <a
                                                                    href="javascript:;">linkedin.com/in/spruko</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mg-md-r-20 mg-b-10">
                                                    <div class="main-profile-social-list">
                                                        <div class="media">
                                                            <div class="media-icon bg-danger-transparent text-danger">
                                                                <i class="icon ion-md-link"></i>
                                                            </div>
                                                            <div class="media-body"> <span>My Portfolio</span> <a
                                                                    href="javascript:;">spruko.com/</a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container> -->
                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>System</a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane active show" id="Company_Settings">
                                    <!-- <div class="container-fluid"> -->
                                    <div class="card">
                                        <div class="header">
                                            <h2>Company Settings</h2>
                                        </div>
                                        <div class="card-body">
                                            <form action="" method="post" id="formSystem" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Application Name <span
                                                                    class="text-danger">*</span></label>
                                                            <input class="form-control" id="app_name" type="text"
                                                                value="OBO AM" placeholder="Application Name ">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Company Name <span
                                                                    class="text-danger">*</span></label>
                                                            <input class="form-control" id="comp_name" type="text"
                                                                value="Future Trends" placeholder="Company Name ">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Contact Person </label>
                                                            <input class="form-control" id="contact_person"
                                                                value="Niyaz Ahamed" placeholder="Contact Person "
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Mobile Number <span
                                                                    class="text-danger">*</span></label>
                                                            <input class="form-control" id="mobile_number"
                                                                value="8870231734" placeholder="Mobile Number"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea class="form-control" id="address"
                                                                placeholder="Address"
                                                                aria-label="With textarea">dubai</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Email <span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="icon-envelope"></i></span>
                                                                </div>
                                                                <input type="email" class="form-control" id="email"
                                                                    value="niyazahamed74@gmail.com" placeholder="Email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Website URL</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="icon-globe"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control" id="url"
                                                                    value="www.futuretrend.ae"
                                                                    placeholder="Website URL">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="form-group">
                                                            <label>Country Name</label>
                                                            <input type="text" class="form-control" id="country_name"
                                                                value="Dubai" placeholder="Country Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="form-group">
                                                            <label>State/Province</label>
                                                            <input type="text" class="form-control" id="state"
                                                                value="Dubai" placeholder="State/Province">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="form-group">
                                                            <label>City</label>
                                                            <input class="form-control" id="city"
                                                                value="Dubai Internet City" placeholder="City"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                                        <div class="form-group">
                                                            <label>Postal Code</label>
                                                            <input class="form-control" id="postal_code" value="9004"
                                                                placeholder="Postal Code" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Phone Number</label>
                                                            <input class="form-control" id="phone_number"
                                                                value="0568621119" placeholder="Phone Number"
                                                                type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Fax</label>
                                                            <input class="form-control" id="fax" value="0443445678"
                                                                placeholder="Fax" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-right m-t-20">
                                                        <button type="submit" id="system_submit"
                                                            class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    <!-- </div> -->
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>SMS</a>
                            <ng-template ngbNavContent>
                                    <div class="card-body">
                                <div class="d-flex">
                                        <div class="row1">
                                            <div class="col-lg-12 col-md-12 col-sm-6">
                                             
                                                <div class="form-group text-left">
                                                    <label>secret Key</label>
                                                    <input class="form-control" 
                                                        type="text">
                                                </div>
                                            </div>
                            
                                
                                            <div class="col-lg-12 col-md-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Api Authentication Key</label>
                                                    <input class="form-control" 
                                                    type="text">
                                                </div>
                                            </div>
                                
                                        
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <label>&nbsp;</label>
                                                <button type="button" id="attendance_search" class="btn btn-sm btn-primary btn-block"
                                                    title="">Get</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>Email</a>
                            <ng-template ngbNavContent>
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <form action="" method="post" id="formSmtpSettings"
                                            enctype="multipart/form-data">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>SMTP Protocol</label>
                                                        <input class="form-control" type="text" id="smtp_protocol"
                                                            value="smtp" name="smtp_protocol">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>SMTP Host</label>
                                                        <input class="form-control" type="text" id="smtp_host"
                                                            value="smtp.gmail.com" name="smtp_host">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>SMTP Port</label>
                                                        <input class="form-control" type="text" id="smtp_port"
                                                            value="465" name="smtp_port">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>SMTP Username</label>
                                                        <input class="form-control" type="email" id="smtp_username"
                                                            value="futuretrendtesting@gmail.com" name="smtp_username">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>SMTP Password</label>
                                                        <input class="form-control" type="text" id="smtp_password"
                                                            value="Greetings@22" name="smtp_password">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text">
                                                    <div class="form-group">
                                                        <label>SMTP Secure</label>
                                                        <input class="form-control" type="text" id="smtp_secure"
                                                            value="tls" name="smtp_secure">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text">
                                                    <div class="form-group">
                                                        <label>SMTP Set From</label>
                                                        <input class="form-control" type="text" id="smtp_from"
                                                            value="futuretrendtesting@gmail.com" name="smtp_from">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text">
                                                    <div class="form-group">
                                                        <label>SMTP Set From Name</label>
                                                        <input class="form-control" type="text" id="smtp_from_name"
                                                            value="OBO-AM TEAM" name="smtp_from_name">
                                                    </div>
                                                </div>
                                                <!-- <div class="col-sm-12 text">
                                                <small id="fileHelp" class="text-danger"> Note: First you should enable "Less secure app access" in your Google account.</small>
                                            </div>
                                            <div class="col-sm-12 text">
                                                <small id="fileHelp" class="text-danger">If it's not enable your mail integration services cannot be functioned.</small>
                                            </div> -->
                                                <div class="col-sm-12 m-t-20 text-right">
                                                    <button type="submit" class="btn btn-primary">Update SMTP
                                                        Settings</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>System Logo</a>
                            <ng-template ngbNavContent>
                                <div class="card-body">
                                    <form action="" method="post" id="formSystemLogo" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <img id="sys_preview" src="assets/img/brand/Bitconia white.png"
                                                            alt="System Logo" width="100" height="80">
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br><input type="file" onchange="systemURL(this);"
                                                            name="system_logo" id="system_logo" class="">
                                                        <input type="hidden" value="1593930072.png"
                                                            name="system_logo_hide" id="system_logo_hide">
                                                        <br><br>
                                                        <small class="text-danger">- Upload files only:
                                                            png,jpg,jpeg</small><br>
                                                        <small class="text-danger">- Best Size: 100kb</small><br>
                                                        <small class="text-danger">- Light logo</small>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <img id="fav_preview" src="assets/img/brand/Symbo-pngl.ico"
                                                            alt="FavIcon" width="32" height="32">
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br><input type="file" onchange="favURL(this);" name="fav_icon"
                                                            id="fav_icon" class=""><br><br>
                                                        <input type="hidden" value="1593932296.ico" name="fav_icon_hide"
                                                            id="fav_icon_hide">
                                                        <small class="text-danger">- Upload files only:
                                                            ico,png</small><br>
                                                        <small class="text-danger">- Best Size: 32x32</small>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 m-t-20 text-right">
                                                <button type="submit" name="sys_logo_submit"
                                                    class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>Sign In Page Logo </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="header">
                                        <h2>Sign In Page Logo</h2>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <img id="signin_preview" src="assets/img/brand/Bitconia white.png"
                                                        alt="FavIcon" width="100" height="80">

                                                </div>
                                                <div class="col-sm-12">
                                                    <br><input type="file" name="signin_logo"
                                                        onchange="signinURL(this);">
                                                    <input type="hidden" value="1593932296.ico"
                                                        name="signin_logo_hide"><br>
                                                    <small class="text-danger">- Upload files only:
                                                        gif,png,jpg,jpeg</small><br>
                                                    <small class="text-danger">- Best Size: 500kb</small><br>
                                                </div>
                                                <div class="col-sm-12 m-t-20 text-right">
                                                    <button type="submit" name="signin_submit"
                                                        class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-container ngbNavItem>
                                <a href="javascript:;" ngbNavLink>Google Authenticator </a>
                                <ng-template ngbNavContent>
                                    <div class="card-body">
                                        <div class="d-flex">
                                                <div class="row1">
                                                    <div class="col-lg-9 col-md-9 col-sm-6">
                                                     
                                                        <div class="form-group text-left">
                                                            <label>secret Key</label>
                                                            <input class="form-control" 
                                                                type="text">
                                                        </div>
                                                    </div>
                                    
                                        
                                                    <div class="col-lg-9 col-md-9 col-sm-6">
                                                        <div class="form-group">
                                                            <label>Api Authentication Key</label>
                                                            <input class="form-control" 
                                                            type="text">
                                                        </div>
                                                    </div>
                                        
                                                
                                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                                        <label>&nbsp;</label>
                                                        <button type="button" id="attendance_search" class="btn btn-sm btn-primary btn-block"
                                                            title="">Get</button>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </ng-template>
                                    </ng-container>
                                    <ng-container ngbNavItem>
                                        <a href="javascript:;" ngbNavLink>Meta </a>
                                        <ng-template ngbNavContent>
                                            <div class="card-body">
                                                <div class="d-flex">
                                                        <div class="row1">
                                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                             
                                                                <div class="form-group text-left">
                                                                    <label>viewport</label>
                                                                    <input class="form-control" 
                                                                        type="text">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                             
                                                                <div class="form-group text-left">
                                                                    <label>description</label>
                                                                    <input class="form-control" 
                                                                        type="text">
                                                                </div>
                                                            </div>
                                            
                                                
                                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>author</label>
                                                                    <input class="form-control" 
                                                                    type="text">
                                                                </div>
                                                            </div>
                                                
                                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>keywords</label>
                                                                    <input class="form-control" 
                                                                    type="text">
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="col-lg-2 col-md-2 col-sm-6">
                                                                <label>&nbsp;</label>
                                                                <button type="button" id="attendance_search" class="btn btn-sm btn-primary btn-block"
                                                                    title="">Get</button>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </ng-template>
                                            </ng-container>
                        </ng-container>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card main-content-body-profile">
            <div class="tab-content">
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</div>