<!-- Page Header -->
 <div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Upcoming Draw List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" routerLink="/drawwallet/Drawwallet">Upcoming Draw </a></li>
            <li class="breadcrumb-item active" aria-current="page">Upcoming Draw List</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button> -->
            <button type="button" class="btn ripple btn-secondary mb-1 mr-1" (click)="openPDF()"><i class="fe fe-arrow-down-circle mr-1"></i> Download</button>
            <button type="button" class="btn ripple btn-info mb-1" onclick="javascript:window.print();"><i class="fe fe-printer mr-1"></i> Print </button>

        </div>
    </div>
</div> 
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card"id="htmlData">
            <div class="card-body" >
                <div class="d-lg-flex">
                    <h2 class="main-content-label mb-1">Upcoming Draw List</h2>
                    <div class="ml-auto">
                        <p class="mb-1"><span class="font-weight-bold">Invoice Date :</span> 01st November 2020</p>
                        <p class="mb-0"><span class="font-weight-bold">Due Date :</span> 01 May  2020</p>
                    </div>
                </div>
                <hr class="mg-b-40" >
                <!-- <div class="row row-sm">
                    <div class="col-lg-6">
                        <p class="h3">Invoice From:</p>
                        <address>
                            Street Address<br>
                            State, City<br>
                            Region, Postal Code<br>
                            yourdomain@example.com
                        </address>
                    </div>
                    <div class="col-lg-6 text-right">
                        <p class="h3">Invoice To:</p>
                        <address>
                            Street Address<br>
                            State, City<br>
                            Region, Postal Code<br>
                            ypurdomain@example.com
                        </address>
                    </div>
                </div> -->
                <!-- <div class="table-responsive mg-t-40">
                    <table class="table table-invoice table-bordered">
                        <thead>
                            <tr>
                                <th class="wd-20p">Product</th>
                                <th class="wd-40p">Description</th>
                                <th class="tx-center">QNTY</th>
                                <th class="tx-right">Unit</th>
                                <th class="tx-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Logo Creation</td>
                                <td class="tx-12">Logo and business cards design</td>
                                <td class="tx-center">2</td>
                                <td class="tx-right">$60.00</td>
                                <td class="tx-right">$120.00</td>
                            </tr>
                            <tr>
                                <td>Online Store Design & Development</td>
                                <td class="tx-12">Design/Development for all popular modern browsers</td>
                                <td class="tx-center">3</td>
                                <td class="tx-right">$80.00</td>
                                <td class="tx-right">$240.00</td>
                            </tr>
                            <tr>
                                <td>App Design</td>
                                <td class="tx-12">Promotional mobile application</td>
                                <td class="tx-center">1</td>
                                <td class="tx-right">$40.00</td>
                                <td class="tx-right">$40.00</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div> -->
                <div class="row row-sm">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin">
                        <div class="card custom-card">
                            <div class="card-header border-bottom-0 pb-0">
                                <div class="d-flex justify-content-between">
                                    <!-- <label class="main-content-label mb-0 pt-1">User Table</label> -->
                                    <!-- <div class="ml-auto float-right">
                                        <div ngbDropdown class="">
                                            <a href="javascript:;" class="option-dots" ngbDropdownToggle><i
                                                    class="fe fe-more-horizontal"></i></a>
                                            <div ngbDropdownMenu class="dropdown-menu-right">
                                                <a ngbDropdownItem href="javascript:;">Today</a>
                                                <a ngbDropdownItem href="javascript:;">Last Week</a>
                                                <a ngbDropdownItem href="javascript:;">Last Month</a>
                                                <a ngbDropdownItem href="javascript:;">Last Year</a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- <p class="tx-12 tx-gray-500 mt-0 mb-2">Example of Spruha Simple Table. <a href="javascript:;">Learn
                                        more</a></p> -->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive border userlist-table">
                                    <table class="table card-table table-striped table-vcenter text-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th class="wd-lg-8p"><span> Draw Name</span></th>
                                                <!-- <th class="wd-lg-20p"><span></span></th> -->
                                                <th class="wd-lg-20p"><span>Winning Price</span></th>
                                                <th class="wd-lg-20p"><span>Price</span></th>
                                                <th class="wd-lg-20p"><span> Status</span></th>
                                                <!-- <th class="wd-lg-20p"><span> First Price</span></th> -->
                
                                                <th class="wd-lg-20p"><span>Start time</span></th>
                                                <th class="wd-lg-20p">End time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of upcomdata ">
                                                <!-- <tr *ngFor="let item of data "> -->
                                                <!-- <td>
                                                    <img alt="avatar" class="rounded-circle avatar-md mr-2"
                                                        src="../../assets/img/users/1.jpg">
                                                </td> -->
                                                <td>{{item['name'] == "" ? 'NA': item['name']}} </td>
                                                <td>
                                                    {{item['winning_price'] ==  null ? 0: item['winning_price']}}
                                                </td>
                                                <td>
                                                    {{item['price'] == "" ? 'NA': item['price']}}
                                                </td>
                                                <!-- <td>
                                                    {{item['cold_wallet_percentage'] == "" ? 'NA': item['cold_wallet_percentage']}}
                                                </td>
                                                <td>
                                                    {{item['percentage_1'] == "" ? 'NA': item['percentage_1']}}
                                                </td> -->
                                                <td >
                                                    <span *ngIf="item['status'] === true"
                                                   [class]="item['status'] === true ? 'text-danger':''">
                                                   {{item['status'] === true ? 'Inactive':item['status']}}</span>
                                                   <span *ngIf="item['status'] === false"
                                                   [class]="item['status'] === false ? 'text-success' : ''">
                                                   {{item['status'] === false ? 'Active':item['status']}}</span>
                                               </td> 
                                        
                                                <td>
                                                    {{item['start_time'] | date :'medium'}}
                                                </td>
                                                <td>
                                                    {{item['end_time']| date :'medium'}}
                                                </td>
                                                <!-- <td>
                                                    <button (click)="gotoview(item)" class="btn btn-sm btn-primary mr-1">
                                                        <i class="si si-eye"></i>
                                                    </button>
                                                   
                                                    <button (click)="editsymbol(item)" class="btn btn-sm btn-info mr-1">
                                                        <i class="fe fe-edit-2"></i>
                                                    </button>
                                                    <span *ngIf="item['status'] === true">
                                                    <button (click)="warningAlert(item)" class="btn btn-sm btn-success">
                                                        <i class="fa fa-check" ></i>
                                                    </button>
                                                </span>
                                                <span *ngIf="item['status'] === false">
                                                    <button (click)="warningAlert(item)" class="btn btn-sm btn-danger" >
                                                        <i class="fa fa-times-circle" ></i>
                                                    </button>
                                                </span>
                                                </td> -->
                                            </tr>
                
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="center" *ngIf="!showDatafound">
                                    <span>NO DATA FOUND </span>
                                </div>
                                <pagination-controls class="pagination mt-4 mb-0 float-right page-item" (pageChange)="page = $event">
                                </pagination-controls> -->
                            </div>
                        </div>
                    </div><!-- COL END -->
                </div>
            </div>
           
        </div>
        <!-- <div class="card-body text-right">
             <button type="button" class="btn ripple btn-primary mb-1 mr-1"><i class="fe fe-credit-card mr-1"></i> Pay Invoice</button>
            <button type="button" class="btn ripple btn-secondary mb-1 mr-1" (click)="openPDF()"><i class="fe fe-arrow-down-circle mr-1"></i> Download</button>
            <button type="button" class="btn ripple btn-info mb-1" onclick="javascript:window.print();"><i class="fe fe-printer mr-1"></i> Print </button>
        </div>  -->
    </div>
</div>
<!-- End Row -->