<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5 ">Security</h2>

    </div>
</div>
<!-- <div class="ant-card-body" style="padding: 0px;">
    <div class="mt-24 mb-24">
        <div class="Mui-alert-root jss2049 Mui-alert-complementary jss2052">
            <div class="Mui-alert-content jss2054">
                <p class="Mui-alert-message jss2055"></p>
                <p class="Mui-alert-description jss2056">To ensure your account security, please select 「Google
                    Verification + Email Binding + Trading Password 」 or 「Phone Number Binding + Trading Password」
                    combinations as the strategic security mode.</p>
            </div>
        </div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_loggin_pwd.47d51aac.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Login Password</span></p>
                <p class="secTip___vvbcR"><span>Used for account login.</span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-contained jss2060 jss2070 MuiButton-containedPrimary jss2061 jss2071 MuiButton-containedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Change</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_google_f2a.1c56ed04.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Google Verification</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/warning-circle.2a1e7256.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span><span>Used for the verification in account login, withdrawal, API
                            creation, etc. and could switch to the SMS verification mode freely (vise versa). <a
                                href="https://support.kucoin.plus/hc/en-us/articles/360014897913-How-to-Bind-Google-2FA"
                                target="_blank" rel="noopener noreferrer">User Guide</a></span></span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-outlined jss2063 jss2086 MuiButton-outlinedPrimary jss2064 jss2087 MuiButton-outlinedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Set</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_bind_phone.0b406df4.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Phone</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/warning-circle.2a1e7256.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span><span>Used for the verification in account login, withdrawal, API
                            creation, etc. and could switch to the Google verification mode freely (vice versa). <a
                                href="https://support.kucoin.plus/hc/en-us/articles/360014800054-Mobile-Binding-Service"
                                target="_blank" rel="noopener noreferrer">Supported Country List</a></span></span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-outlined jss2063 jss2096 MuiButton-outlinedPrimary jss2064 jss2097 MuiButton-outlinedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Set</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_bind_email.29ddc363.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Email</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/check-circle.1fddf751.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span>Used for the verification in withdrawal, API creation, etc.</span></p>
            </div>
        </div>
        <div></div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_trade_pwd.740c079c.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Trading Password</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/warning-circle.2a1e7256.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span>Used for the verification in transaction, withdrawal, API creation, etc.
                        Please ensure the strength of the password and well keep it.</span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-outlined jss2063 jss2106 MuiButton-outlinedPrimary jss2064 jss2107 MuiButton-outlinedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Set</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_login_ip.ceef72ed.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Restrict login IP</span><span class="ml-8" style="display: flex;"><span
                            class="MuiLabel-root jss2113 MuiLabel-primary jss2114">Recommend when balance &gt;0.1
                            BTC</span></span></p>
                <p class="secTip___vvbcR"><span>If enabled, when your login IP changes, the account protection mechanism
                        will be immediately triggered and you will be logged out automatically.</span></p>
            </div>
        </div>
        <div>
            <div class="pr-16"><span class="MuiSwitch-root jss2116"><span
                        class="MuiButtonBase-root MuiIconButton-root jss2121 MuiSwitch-switchBase jss2117 MuiSwitch-colorSecondary"
                        aria-disabled="false"><span class="MuiIconButton-label"><input class="jss2124 MuiSwitch-input"
                                type="checkbox" value=""><span class="MuiSwitch-thumb jss2118"></span></span><span
                            class="MuiTouchRipple-root"></span></span><span
                        class="MuiSwitch-track jss2119"></span></span></div>
        </div>
    </div>
    <div class="secOptItem___2TQ10 noBorder___3joeS">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"><img
                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_safe_word.fd7f19b6.svg"
                    style="width: 40px;"></div>
            <div>
                <p class="secName___3tgtm"><span>Email Safety Phrase</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/warning-circle.2a1e7256.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span>Displayed in the email from KuCoin to prevent the visiting of a phishing
                        website. </span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-outlined jss2063 jss2128 MuiButton-outlinedPrimary jss2064 jss2129 MuiButton-outlinedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Set</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
    <div class="secOptItem___2TQ10 noBorder___3joeS">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"></div>
            <div>
                <p class="secName___3tgtm"><span>Login Safety Phrase</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/warning-circle.2a1e7256.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span>Displayed in the login window when logging.</span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-outlined jss2063 jss2138 MuiButton-outlinedPrimary jss2064 jss2139 MuiButton-outlinedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Set</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
    <div class="secOptItem___2TQ10">
        <div class="secOptItemLeft___1heNt">
            <div class="secIcon___2-4NN"></div>
            <div>
                <p class="secName___3tgtm"><span>Withdrawal Safety Phrase</span><img class="ml-8"
                        src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/warning-circle.2a1e7256.svg"
                        alt=""></p>
                <p class="secTip___vvbcR"><span>KuCoin tamper-proofing picture, the confirmation window will include the
                        anti-phishing code you have set before</span></p>
            </div>
        </div>
        <div><button
                class="MuiButtonBase-root MuiButton-root jss2057 MuiButton-outlined jss2063 jss2148 MuiButton-outlinedPrimary jss2064 jss2149 MuiButton-outlinedSizeSmall MuiButton-sizeSmall jss2058"
                tabindex="0" type="button"><span class="MuiButton-label">Set</span><span
                    class="MuiTouchRipple-root"></span></button></div>
    </div>
</div> -->




 <div class="row square">
        <div class="col-lg-12 col-md-12">
            <div class="card custom-card">
                <div class="card-body">
                    
                    <div class="profile-tab tab-menu-heading">
                        <nav ngbNav #nav="ngbNav" class="main-nav-line p-3 tabs-menu profile-nav-line bg-gray-100">
                            
                            <ng-container ngbNavItem>
                                <a href="javascript:;" ngbNavLink>SMS Otp</a>
                                <ng-template ngbNavContent>
                                    <div class="tab-pane active show" id="Company_Settings">
                                        <div class="card">
                                          
                                            <div class="card-body">
                                                <div class="secOptItem___2TQ10">
                                                    <div class="secOptItemLeft___1heNt">
                                                        <div class="secIcon___2-4NN"><img
                                                                src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_bind_phone.0b406df4.svg"
                                                                style="width: 40px;
                                                                background-color: white;
                                                                border-radius: 4px;"></div>
                                                        <div>
                                                            <p class="secName___3tgtm"><span>Phone Number Verification
                                                            </span></p>
                                                            <p class="secTip___vvbcR"><span><span style="color: red;">Used for the verification in account login,and could switch to the Google verification mode freely 
                                                                </span></span></p>
                                                        </div>
                                                    </div>
                                                    <div> <button type="submit" id="system_submit"
                                                        class="btn btn-primary" (click)="gotosms()">Enable</button></div>
                                                </div>
                                                    <!-- <div class="row">
                                                        <div class="col-md-6 col-sm-12">
                                                         
                                                            <div class="form-group text-left">
                                                               <h2>
                                                                Phone Number Verification
                                                               </h2>
                                                                    
                                                                    <span style="color:red;">
                                                                        Used for the verification in account login,and could switch to the Google verification mode freely 
                                                                    </span>
                                                            </div>
                                                        </div>
                                        
                                            
                                                    
                                                        <div class="col-sm-12 text-right m-t-20">
                                                            <button type="submit" id="system_submit"style="width:9%"
                                                                class="btn btn-primary" (click)="gotosms()">Set</button>
                                                        
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div> 
                                    </div>
                                      
                                    
                                </ng-template>
                            </ng-container>
                                <ng-container ngbNavItem>
                                    <a href="javascript:;" ngbNavLink>Google Authentication OTP </a>
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane active show" id="Company_Settings">
                                            <div class="card">
                                            
                                                <div class="card-body">
                                                    <div class="secOptItem___2TQ10">
                                                        <div class="secOptItemLeft___1heNt">
                                                            <div class="secIcon___2-4NN"><img
                                                                    src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_google_f2a.1c56ed04.svg"
                                                                    style="width: 40px;
                                                                    background-color: white;
                                                                    border-radius: 4px;"></div>
                                                            <div>
                                                                <p class="secName___3tgtm"><span>Google Verification</span></p>
                                                                <p class="secTip___vvbcR"><span><span style="color:red;"> Used for the verification in account login,and could switch to the SMS verification mode freely
                                                                           </span></span></p>
                                                            </div>
                                                        </div>
                                                        <div>  <button type="submit" id="system_submit"
                                                            class="btn btn-primary"(click)="gotoauth()" >Enable</button>&nbsp; &nbsp; 
                                                            <button type="submit" id="system_submit"style="float: right;"
                                                            class="btn btn-primary"(click)="gotoremove()" >Remove</button> </div>
                                                                   
                                                    </div>
                                                        <!-- <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                             
                                                                <div class=" text-left">
                                                                   
                                                                        <h2>Google Authentication</h2>
                                                                        
                                                                        <span style="color:red;">
                                                                            Used for the verification in account login,and could switch to the SMS verification mode freely 
                                                                             
                                                                        </span> 
                                                                </div>
                                                            </div>
                                            
                                                
                                                         
                                                        
                                                            <div class="col-sm-12 text-right m-t-20">
                                                                <button type="submit" id="system_submit"style="width:9%;"
                                                                class="btn btn-primary"(click)="gotoauth()" >Enable</button>&nbsp; &nbsp; 
                                                                <button type="submit" id="system_submit"style="width:9%;float: right;"
                                                                class="btn btn-primary"(click)="gotoremove()" >Remove</button>  
                                                        </div>
                                                     
                                                    </div> -->
                                                </div>
                                            </div> 
                                        </div>
                                   
                                        
                                        </ng-template>
                                        </ng-container>
                                        <ng-container ngbNavItem>
                                            <a href="javascript:;" ngbNavLink>Email Otp </a>
                                            <ng-template ngbNavContent>
                                                <div class="tab-pane active show" id="Company_Settings">
                                                    <div class="card">
                                                      
                                                        <div class="card-body">
                                                            <div class="secOptItem___2TQ10">
                                                                <div class="secOptItemLeft___1heNt">
                                                                    <div class="secIcon___2-4NN"><img
                                                                            src="https://assets.staticimg.com/kucoin-main-web/1.0.18/static/sec_bind_email.29ddc363.svg"
                                                                            style="width: 40px; background-color: white;
                                                                            border-radius: 4px;"></div>
                                                                    <div>
                                                                        <p class="secName___3tgtm"><span>Email verification</span></p>
                                                                        <p class="secTip___vvbcR"><span style="color: red;">Used for the verification in withdrawal, API creation, etc.</span></p>
                                                                    </div>
                                                                </div>
                                                                <div></div>
                                                                <div> <button type="submit" id="system_submit"
                                                                    class="btn btn-primary" (click)="gotoemail()">Change</button></div>
                                                            </div>
                                                                <!-- <div class="row">
                                                                    <div class="col-md-6 col-sm-12">
                                                                     
                                                                           <h2>Email verification</h2>
                                                                                <span style="color:red;">
                                                                                    Used for the verification in withdrawal,Email to protect your account.
                                                                                </span>
                                                                    </div>
                                                    
                                                        
                                                                
                                                                
                                                                    <div class="col-sm-12 text-right m-t-20">
                                                                        <button type="submit" id="system_submit"style="width:9%"
                                                                            class="btn btn-primary"(click)="gotoemail()">Change</button>
                                                                    
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div> 
                                                </div>
                                                </ng-template>
                                                </ng-container>
                                                <ng-container ngbNavItem>
                                                    <a href="javascript:;" ngbNavLink>Change Password </a>
                                                    <ng-template ngbNavContent>
                                                        <div class="tab-pane active show" id="Company_Settings">
                                                                <div class="card-body">
                                                                    <form action="#"[formGroup]="changepass" (ngSubmit)="changepassword()"method="post" data-parsley-validate="" novalidate="">
                                                                <div class="row clearfix">  
                                                                    <h2>Change Password</h2>                            
                                                                    <div class="col-lg-12 col-md-12">
                                                                        <hr>
                                                                        <label>Change Password
                                                                            <span class="text-danger">*</span>
                                                                        </label>
                                                                        <div class="form-group">
                                                                            <input type="password" formControlName="oldPass"placeholder="Enter the password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginFormControl.oldPass.errors }" required />
                                                                            <div *ngIf="submitted && loginFormControl.oldPass.errors" class="invalid-feedback">
                                                                                <div *ngIf="loginFormControl.oldPass.errors.required">Password is required</div>
                                                                                <div *ngIf="loginFormControl.oldPass.errors.minlength">Password must be at least 6 characters</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label> New Password
                                                                                <span class="text-danger">*</span>
                                                                            </label>
                                                                            <input type="password" formControlName="newPass"placeholder="Enter the New password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && loginFormControl.newPass.errors }" />
                                                                            <div *ngIf="submitted && loginFormControl.newPass.errors" class="invalid-feedback">
                                                                                <div *ngIf="loginFormControl.newPass.errors.required">Password is required</div>
                                                                                <div *ngIf="loginFormControl.newPass.errors.minlength">Password must be at least 6 characters</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label> confrim Password
                                                                                <span class="text-danger">*</span>
                                                                            </label>
                                                                            <input type="password" formControlName="confirmPass" placeholder="Enter the confrim password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginFormControl.confirmPass.errors }" />
                                                                            <div *ngIf="submitted && loginFormControl.confirmPass.errors" class="invalid-feedback">
                                                                                <div *ngIf="loginFormControl.confirmPass.errors.required">Password is required</div>
                                                                                <div *ngIf="loginFormControl.confirmPass.errors.minlength">Password must be at least 6 characters</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" name="change_password" class="btn btn-round btn-primary">Update</button> &nbsp;&nbsp;
                                                                <button type="reset" class="btn btn-round btn-default">Clear</button>
                                                            </form>
                                                        </div> 
                                                        </div>
                                                        </ng-template>
                                                        </ng-container>
                            
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row row-sm">
        <div class="col-lg-12 col-md-12">
            <div class="card custom-card main-content-body-profile">
                <div class="tab-content">
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div> 