<!-- Page -->
<div class="page main-signin-wrapper bg-primary construction">

    <div class="container ">
        <div class="construction1 text-center details text-white">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h1 class=" mb-0" style="font-size:90px;
                    ">Session Expired </h1><br>

                    <a class="btn ripple btn-success text-center btn" routerLink="/login">Back to Login</a>

                </div>
                <!-- <div class="col-lg-12 ">
                    
                </div> -->
            </div>
        </div>
    </div>

</div>
<!-- End Page -->