
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Add user</h2>
        <ol class="breadcrumb">
            <li  class ="breadcrumb-item cus"(click)="user()">UserList</li>
            <li class="breadcrumb-item active" aria-current="page">Add user</li>


        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>-->
            <button type="button" style ="background-color: #6259CA;"   class="btn btn-white btn-icon-text my-2 ml-2" (click)="user()">
                User List
               </button> 
           <button type="button" class="btn btn-primary my-2 btn-icon-text"(click)="inactive()">
             Inactive User
           </button> 
        </div>
    </div>
</div>

<div class="card card-aside custom-card">
    <div class="container-fluid">
        <div class="row">
            <div class="card-body">

                <form [formGroup]="selectForm" (ngSubmit)="selectSubmit()" novalidate>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label">Add User <span class="tx-danger">*</span>
                                <input class="form-control"  value="Niyaz Ahamed" formControlName="text" placeholder="Enter text">
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                           
                            <label class="form-label">Company <span class="tx-danger">*</span>
                                <input class="form-control" formControlName="text" placeholder="Enter text">
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Contact Person </label>
                                <input class="form-control" id="contact_person"
                                    value="Niyaz Ahamed" placeholder="Contact Person "
                                    type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Mobile Number <span
                                        class="text-danger">*</span></label>
                                <input class="form-control" id="mobile_number"
                                    value="8870231734" placeholder="Mobile Number"
                                    type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Date </label>
                                <input class="form-control" id="mobile_number"
                                    value="" placeholder="date"
                                    type="date">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="icon-envelope"></i></span>
                                    </div>
                                    <input type="email" class="form-control" id="email"
                                        value="" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Bank Name <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email"
                                        value="" placeholder="Bank Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Card Type <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email"
                                        value="" placeholder="Card Type">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Expiry Date <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email"
                                        value="" placeholder="Expiry Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Card Details <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email"
                                        value="" placeholder="Card Details">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12 text-right m-t-20">
                            <!-- <button type="submit" id="system_submit"
                                class="btn btn-primary" (click)="user()">Save</button> -->
                                <button type="submit" class="btn btn-primary" (click)="user()"
                                >Save</button>
                        </div>
                    </div>
                </form>
            </div> 

        </div>
    </div>
</div>
