::ng-deep{
    .forth.circle {
        svg {
            margin: 0 auto;
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    } 
    .btn-primary:hover {
        color: #fff !important;
        background-color: #403fad !important;
        border-color: #403fad !important;
    }
    .dropdown-menu-right.dropdown-menu{
        transform: translate(-101px, 40px) !important;
    }

    .dropdown-menu{
        z-index: 9 !important;
    }
    
}

.ml-auto.show.dropdown .dropdown-menu{
    transform: translate( -120px, 40px) !important;
}
.cus{
    cursor: pointer !important;;
}
.car{
    width: 2em !important;
    height:1em !important;
    border-radius: 4px !important;
    // border: 1px solid #c5c5c5 !important;
    text-align: center !important;
    font-size: 28px !important;
        background-color:white;
        // border: 1px solid rgba(255, 255, 255, 0.12);
}
.mar{
    margin-right: 8px;

}
.countdown__timer--wrapper {
    padding: 25px 35px 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.countdown__timer--boxes {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}
.countdown__timer--boxes-row, .countdown__timer--jackpot {
    display: -webkit-box;
    display: flex;
}
.countdown__timer span.countdown__timer--value {
    font-size: 41px;
    max-width: 100%;
    color: #00a9e0;
    position: absolute;
    width: 25px;
    margin: 0;
    left: 7px;
    top: 7px;
    text-align: center;
}